//字体
$base_fontSize: 16px;
$base_fontSize_lg: $base_fontSize * 1.5;
$base_fontSize_mlg: $base_fontSize * 1.75;

//字体颜色
$base_color1: red;
$base_color2: yellow;
$base_color3: rgb(42, 252, 206);
$base_color4: rgb(16, 60, 126);

//背景颜色
$base_backColor: rgb(224, 122, 255) rgb(131, 129, 255);